body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 40px;
}

/* Container for the flip effect, sets the perspective for the 3D effect */
.flip-container {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  position: relative;
  margin: 50px auto;
}

/* The flip box flips when its hovered*/
.flip-box {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

/* Hover effect to flip the box */
.flip-container:hover .flip-box {
  transform: rotateY(180deg);
}

/* Front and back faces of the flip box first picture is visible by default, backside hidden initially*/
.flip-front,
.flip-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Front face (visible by default) */
.flip-front {
  z-index: 2;
}

/* Back face (hidden initially) */
.flip-back {
  transform: rotateY(180deg);
}

.flip-front img,
.flip-back img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border: none;
  padding: 0;
}

.card img {
  display: block;
  max-width: 100%;
  height: 350px;
  width: 250px;
}

#cardNotFoundMessage {
  display: none;
  text-align: center;
  margin: 5px auto 20px;
  font-size: 18px;
  color: #ff0000;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background-color: #ffe6e6;
  width: fit-content;
  position: relative;
  z-index: 10;
}

#resetButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: sticky;
  bottom: 20px;
  z-index: 1000;
  width: fit-content;
}

#resetButton:hover {
  background-color: #d32f2f;
}
